################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net/.vs/SmartHome/v15
/net/SmartHome/bin/Debug/netcoreapp2.0
/net/SmartHome/obj
/.vs/SmartHome/v15
/net/obj
/node/SmartHomeJS.njsproj.user
/net/bin/Debug/netcoreapp2.0
/SmartHomeUniversal/SmartHomeUniversal/obj/Debug/netstandard2.0
/SmartHomeUniversal/SmartHomeUniversal.Android/obj/Debug
/SmartHomeUniversal/SmartHomeUniversal.iOS/obj/iPhone/Debug
/SmartHomeUniversal/SmartHomeUniversal.UWP/obj/x86/Debug
/SmartHomeUniversal/SmartHomeUniversal.Android/bin/Debug
/SmartHomeUniversal/SmartHomeUniversal.Android/obj
/SmartHomeUniversal/SmartHomeUniversal.iOS/obj
/SmartHomeUniversal/SmartHomeUniversal.UWP/bin/x86/Debug
/SmartHomeUniversal/SmartHomeUniversal.UWP/obj
/SmartHomeUniversal/SmartHomeUniversal/bin/Debug/netstandard2.0
/SmartHomeUniversal/SmartHomeUniversal/obj
/SmartHomeUniversal/SmartHomeUniversal.Android/SmartHomeUniversal.Android.csproj.user
/.vs/SmartHomeUniversal/v15/.suo
/.vs/SmartHomeUniversal/v15/Server/sqlite3
/SmartHomeUniversal/SmartHomeUniversal.iOS/bin/iPhone/Debug
/SmartHomeUniversal/SmartHomeUniversal.iOS/SmartHomeUniversal.iOS.csproj.user
/node
/net/SmartHome.csproj.user
/net/bin
UpgradeLog.htm
SmartHome.Model/bin/
SmartHome.Model/obj/Debug/netstandard1.6/SmartHome.Model.csproj.CoreCompileInputs.cache
SmartHome.Model/obj/
RestClient/obj/
RestClient/bin/
SmartHome.Client/obj/
SmartHome.Client/bin/
/.vs/SmartHome/DesignTimeBuild
